<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= _.get(titlePage, 'title', '') %></title>
  <%= css ? `<style>${css}</style>` : '' %>
</head>
<body>
  <div class="script">
    <% _.each(lines, ({ text, name, field = '', lineNumber }) => { %>
      <div class="line">
        <div class="line-number"><%= lineNumber %></div>
        <div class="line-body">
          <div class="<%= name %> <%= field %>"><%= text || '&nbsp;' %></div>
        </div>
        <div class="line-type"><%= field || name %></div>
      </div>
    <% }) %>
  </div>
</body>
</html>