<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= _.get(titlePage, 'title', []).join('').replace(/<[^>]*>/gim, '') %></title>
  <%= css ? `<style>${css}</style>` : '' %>
</head>
<body>
  <div class="script">
    <% if (options.titlePage) { %>
    <div class="titles">
      <% _.forOwn(titlePage, (lines, field) => { %>
        <div class="line title-page <%= field %>">
          <div class="line-body"><%= lines.join('<br>') %></div>
        </div>
      <% }) %>
    </div>
    <% } %>
    <% _.each(lines, ({ text, name, field = '', lineNumber }) => { %>
      <div class="line">
        <% if (options.lineNumbers === 'all' || options.lineNumbers === 'non-empty' && !!text) { %>
          <div class="line-info line-number"><%= lineNumber %></div>
        <% } %>
        <div class="line-body">
          <div class="<%= name %> <%= field %>"><%= text || '&nbsp;' %></div>
        </div>
        <% if (options.debug) { %>
          <div class="line-info line-type"><%= name %></div>
        <% } %>
      </div>
    <% }) %>
  </div>
</body>
</html>